// https://github.com/Heydon/fukol-grids
// https://bitbucket.org/ced404/fukol-grid-sass/src/

@mixin fukol-grid ($grid-gutter:".5rem", $grid-items-width:"0") {

	--grid-gutter: #{$grid-gutter};
	--grid-items-width: #{$grid-items-width};

	display: flex; /* #1 */
	flex-wrap: wrap; /* #2 */

	// #5 (gutter reset: the negative version of #4)
	margin: -#{$grid-gutter};
	margin: calc(var(--grid-gutter,#{$grid-gutter}) - (var(--grid-gutter,#{$grid-gutter}) * 2));

	// grid items
	& > * {
		// #3 - the "element query" part, how wide we want the items to be
		// NOTE: substract the gutter with percent widths
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: $grid-items-width;
		flex-basis: var(--grid-items-width, $grid-items-width);

		// #4 - grid gutter
		margin: #{$grid-gutter};
		margin: var(--grid-gutter, #{$grid-gutter});

		// NOTE: addition for rwd
		max-width: 100%;
	}



	// --- Optional - predefined standards values


	// on grids
	&[data-grid*="1/2"] > * {
		flex-basis: 50%;
		flex-basis: calc(50% - (var(--grid-gutter, #{$grid-gutter}) * 2));
	}

	&[data-grid*="1/3"] > * {
		flex-basis: 30%;
		flex-basis: calc(30% - (var(--grid-gutter, #{$grid-gutter}) * 2));
	}

	&[data-grid*="1/4"] > * {
		flex-basis: 25%;
		flex-basis: calc(25% - (var(--grid-gutter, #{$grid-gutter}) * 2));
	}

	&[data-grid*="strict"] > * {
		flex-grow: 0;
	}



	// if needed on specific grid items

	& > [data-grid-item*="1/1"] {
		flex-basis: 100%;
		flex-basis: calc(100% - (var(--grid-gutter, #{$grid-gutter}) * 2));
	}

	& > [data-grid-item*="1/2"] {
		flex-basis: 50%;
		flex-basis: calc(50% - (var(--grid-gutter, #{$grid-gutter}) * 2));
	}

	& > [data-grid-item*="1/3"] {
		flex-basis: 30%;
		flex-basis: calc(30% - (var(--grid-gutter, #{$grid-gutter}) * 2));
	}

	& > [data-grid-item*="1/4"] {
		flex-basis: 25%;
		flex-basis: calc(25% - (var(--grid-gutter, #{$grid-gutter}) * 2));
	}

	& > [data-grid-item*="1/5"] {
		flex-basis: 20%;
		flex-basis: calc(25% - (var(--grid-gutter, #{$grid-gutter}) * 2));
	}


	// exact width (don't grow)
	&[data-grid-item*="strict"] {
		flex-grow: 0;
	}

}
