@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&subset=latin-ext');
@import "./fukol-grid";

// base
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;

html {
	box-sizing: border-box;
	font-size: 100%; /* 100% == 16px */
	font-family: $font-default;
	-webkit-font-smoothing: antialiased;
	/*
	1rem; // 16px
	.25rem; // 4px
	.5rem; // 8px
	1.125rem; // 18px
	1.25rem; // 20px
	1.5rem; // 24px
	1.625rem; // 26px
	1.75rem; // 28px
	2.125rem; // 34px
	2.25rem; // 36px
	2.5rem; // 40px
	*/
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1em 0;
}

p {
	margin: 0 0 1rem;
}



// Fukol Layout demo

.layout--fukol {
	@include fukol-grid (0, 100%);

	// layout with fixed footer
	min-height: 100vh;
	flex-direction: column;
	display: flex;
	.site-content {
		flex: 1;
	}
}

[class^="layout"] {

	// header and footer
	.site-header {
		flex-basis: 8rem;
	}
	.site-footer {
		flex-basis: 3rem;
		margin-top: 1rem;
	}
}



// theme

.heading {
	font-family: 'Fira Mono', monospace;
	text-transform: uppercase;
}

.site-header {
	background-color: #262626;
	color: whitesmoke;
	a {
		color:white;
	}
}

.site-header, .site-content > .header, .site-footer {
	padding: 1rem;
}



.section [data-grid] {
	@include fukol-grid ();
}



.cards {
	@include fukol-grid (1rem, 22rem);
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;

	// horizontal margin collapse - https://css-tricks.com/what-you-should-know-about-collapsing-margins/#comment-1594852
	// .card + .card {
	// 	margin-left: 0;
	// }

	.card {
		background-color: whitesmoke;
		padding: 1rem;
	}

}


@media screen and (max-width: 30rem) {
	.cards & > * {
		flex-basis: auto;
	}
}
